a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-image: linear-gradient(#6011e0, #4d2a85);
    font-family: Arial, Helvetica, sans-serif;

}

header {
    padding: 0%;
    margin: 0%;
    top: 0%;
    height: 10vh;
}

#ipl {
    height: max-content;
    width: max-content;
    padding: 0%;
    margin: 0%;
    top: 0%;
    float: right;

}


#logo {
    position: absolute;
    left: 0%;
    top: 0%;
}

.wrapper {

    background-image: linear-gradient(#f9f8fc, #9a94a3);
    width: 100%;
    margin-top: 5%;
    margin-right: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#heading {
    height: max-content;
    width: max-content;
    text-align: center;
    padding: 0%;
    margin: 0%;
    flex-basis: 100%;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 20vh;
    border-radius: 5%;
    background-color: #ffffff;
    font-style: italic;
    margin-top: 2.5%;
    flex-basis: 30%;
    padding: 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;


}


.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);

}

.card p {
    border-bottom: black solid 1px;
}

.card a {

    text-align: center;
    background-image: linear-gradient(#f9f8fc, #9a94a3);
    border-radius: 5%;
    width: 50%;
    text-decoration: none;
    align-self: center;
    justify-self: flex-end;

}