:root {
  --color-light-50: #f8fafc;

  --color-dark-50: #797984;
  --color-dark-100: #312d37;
  --color-dark-900: #000;

  --color-purple-50: #7c3aed;
  --color-purple-100: #a855f7;
  --color-purple-200: #bf46ef;

  --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
  --ipl-image: url("./assets/ipl-logo-vector.svg");
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: var(--color-gradient);
  font-family: Arial, Helvetica, sans-serif;
}

/* for Smartphones */
@media only screen and (max-width: 640px) {

  #container {

    text-align: center;
    height: 65vh;
    width: 79vw;
    background: var(--ipl-image);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px var(--color-purple-100);

    display: flex;
    flex-direction: column;
  }

  .signupheader {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  #login_button {
    align-self: center;
    width: 8em;
    color: goldenrod;
    background: white;
    border: 2px solid goldenrod;
    border-radius: 5px;
  }

}

/* for Tablets */
@media only screen and (max-width: 960px) and (min-width: 640px) {

  #container {
    text-align: center;
    height: 65vh;
    width: 79vw;
    background: var(--ipl-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px var(--color-purple-100);

    display: flex;
    flex-direction: column;
  }

  .signupheader {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  #login_button {
    align-self: center;
    width: 8em;
    color: goldenrod;
    background: white;
    border: 2px solid goldenrod;
    border-radius: 5px;
    transition: all 300ms;
  }

  #login_button:hover {
    color: #494949;
    border: 2px solid #494949;
    border-radius: 50px;
  }
}

/* for desktop */
@media only screen and (min-width: 960px) {

  #container {
    text-align: center;
    height: 65vh;
    width: 79vw;
    background: var(--ipl-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px var(--color-purple-100);

    display: flex;
    flex-direction: column;
  }

  .signupheader {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  #login_button {
    align-self: center;
    width: 8em;
    color: goldenrod;
    background: white;
    border: 2px solid goldenrod;
    border-radius: 5px;
    transition: all 300ms;
  }

  #login_button:hover {
    color: #494949;
    border: 2px solid #494949;
    border-radius: 50px;
  }

}